@font-face {
  font-family: "Courier";
  font-style: normal;
  font-weight: 400;
  src: url("./Courier.ttf");
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: url("./Georgia.ttf");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  src: url("./Helvetica.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./Roboto.ttf");
}

@font-face {
  font-family: "Tahoma";
  font-style: normal;
  font-weight: 400;
  src: url("./Tahoma.ttf");
}


