@font-face {
  font-family: "SF-Pro-Display-Heavy";
  font-style: normal;
  font-weight: 900;
  src: url("./SF-Pro-Display-Heavy.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Black";
  font-style: normal;
  font-weight: 800;
  src: url("./SF-Pro-Display-Black.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./SF-Pro-Display-Bold.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Semibold";
  font-style: normal;
  font-weight: 600;
  src: url("./SF-Pro-Display-Semibold.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("./SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./SF-Pro-Display-Regular.otf");
}
@font-face {
  font-family: "SF-Pro-Display-Light";
  font-style: normal;
  font-weight: 300;
  src: url("./SF-Pro-Display-Light.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Thin";
  font-style: normal;
  font-weight: 200;
  src: url("./SF-Pro-Display-Thin.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Ultralight";
  font-style: normal;
  font-weight: 100;
  src: url("./SF-Pro-Display-Ultralight.otf");
}


